table tr td{
    width:20px;
    height:20px;
}

table {
    border: none;
}

.one {
    transform: rotate(90deg)
}
.two {
    transform: rotate(180deg)
}
.three {
    transform: rotate(270deg)
}
.four {
    transform: rotate(360deg)
}